<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Login Dashboard</title>
</head>
<body style="background-color:grey;">
  <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />-->
    
    <main role="main" style="text-align: center;">
        
        <h1 class="h2" style="padding-top: 20px ;">Welcome !</h1>
        <div class="row" style="align-content: center; margin-left: 18%;margin-top: 5%;">

          <div class="col">
            <div class="card text-black #FFFFFF mb-3" style="max-width: 18rem;">
                <!--<div class="card-header">
                  <a href="file:///C:/Users/ashkore789/.vscode/Form/student-registration-form.html">Add Student.</a>
                </div>-->
                <div class="card-body">
                  <!--bg-success-->
                  <h5 class="card-title">Student</h5>
                  <p class="card-text">Proceed to login</p>
                  <div style="padding-bottom: 10px;">
                    <form action="loginAsTeacher"><button class="btn btn-primary">Login as Student</button></form>
                  </div>
                </div>
              </div>
            </div>

            
    <div class="col">
            <div class="card text-black #FFFFFF mb-3" style="max-width: 18rem;">
                <!--<div class="card-header">
                  <a href="file:///C:/Users/ashkore789/.vscode/Form/teacher-registration-form.html">Add teacher.</a>
                </div>-->
                <!--<div class="card-body">
                  <i class="fa fa-users"></i>
                  <h5 class="card-title">Primary card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                 
                </div>-->
                <div class="card" style="width: 18rem;">
                  <!--<img src="..." class="card-img-top" alt="...">-->
                  <div class="card-body">
                    <h5 class="card-title">Admin</h5>
                    <p class="card-text">Proceed to login</p>
                    <div style="padding-bottom: 10px;">
                      <form action="loginAsAdmin">
                        <button class="btn btn-primary">Login as Admin</button></form>
                    </div>
                    
                    
                  </div>
                </div>
              </div>
            </div>
    <div class="col">
                <div class="card text-black #FFFFFF mb-3" style="max-width: 18rem;">
                    <!--<div class="card-header">
                      <a href="file:///C:/Users/ashkore789/.vscode/Form/student-registration-form.html">Add Student.</a>
                    </div>-->
                    <div class="card-body">
                      <!--bg-success-->
                      <h5 class="card-title">Teacher</h5>
                      <p class="card-text">Proceed to login</p>
                      <div style="padding-bottom: 10px;">
                        <form action="loginAsTeacher"><button class="btn btn-primary">Login as Teacher</button></form>
                      </div>
                    </div>
                  </div>
                </div>

                
</body>
</html>
